.background {
    background: #000000;
    padding: 45px 90px 45px 90px;
    color: #fff;
}

.footerDiv {
    display: flex;
    justify-content: space-between;
    height: 280px;
    left: 0px;
    top: 0px;
}
.footerDiv ul {
    list-style: none;
}

.footerBox {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.fotterButtons {
    height: 100%;
}

.fotterButtons * {
    margin-bottom: 30px;
}

.fotterButtons a {
    width: 68.08px;
    height: 21px;
    left: 97px;
    top: 3108px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #e9eceb;
}

.contactDiv {
    text-align: right;
}

.contactDiv h2 {
    left: 960px;
    top: 3053px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    text-align: right;
    text-transform: uppercase;
    margin-bottom: 30px;

    color: #e9eceb;
}

.contactDiv p {
    width: 254.86px;
    height: 30px;
    left: 944px;
    top: 3122px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;

    text-align: right;

    color: #e9eceb;
}
